body
{
	font-size: 40px;
	color: white;
	background-image: url("https://ksnorton.files.wordpress.com/2015/02/dark-blue-sunset-rocks-river-nature-wallpapers.jpg");
	background-color: #04071C;
	background-repeat: no-repeat;
	background-size:1000px 1580px;
}

form
{
    margin-top: 5em;
	margin-left: 2em;
}

.t1
{
	height: 40px;
	font-size: 40px;
	color: white;
	background: transparent; 
	border-top: white;
	border-left: white;
	border-right: white;
}

.button
{
	border-style: solid;
        color: white;
        padding: 8px 50px;
        text-align: center;
        font-size: 35px;
	font-weight: bold;
        cursor: pointer;
	position: absolute; left:11em;
	background-color: #7C84BB;
}

